<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank You</title>
  </head>
  <body>
    <h1>Thank You</h1>
    <p>Thank you for your feedback!</p>
    <h2>Entered Data:</h2>
    <p><strong>Fruit Name:</strong> {{ fruit_name }}</p>
    <p><strong>Course ID:</strong> {{ fruit_id }}</p>
    <p><strong>Instructor Name:</strong> {{ fruit_quantity }}</p>
    <p><strong>Overall Experience:</strong> {{ overall_experience }}</p>
    <p><strong>Teaching Effectiveness:</strong> {{ fruit_nutrients }}</p>
    <p><strong>Course Recommendation:</strong> {{ fruit_recommendation }}</p>
  </body>
</html>
